<h2 class="header">My Posts</h2>

{{#each blogPosts as |post| }}
<div class="row-mb-4">
  <div class="col-md-5">
    <h2 class="titlebox"> </h2>
      <a href="/posts/{{post.id}}">{{post.title}}</a>
      <button class="delete-btn" data-id="{{post.id}}"> Delete this post {{post.id}} </button>
  </div>
  <h3>
    <a href="/posts/{{post.id}}">{{post.content}}</a>
  </h3>
  <h4>
    <p>Created by <span class="username">{{post.user.name}}</span> on {{createdAt}}</p>
  </h4>
</div>
{{/each}}

{{#if logged_in}}
<button onclick="window.location.href='/newpost'" id="new-post-btn">New post +</button>
<script src="/js/delete.js"></script>
{{/if}}